:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgba(0, 0, 0, 0.2);
    --tertiary-color: rgba(252, 252, 252);
    --primary-font: rgba(0, 0, 0, 0.8);
    --secondary-font: rgba(0, 0, 0, 0.5);
    --brightness: 0;
    --contrast: 1;
    --background: black;
} 

.dark-theme {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgba(255, 255, 255, 0.2);
    --tertiary-color: rgb(31, 31, 31);
    --primary-font: rgba(255, 255, 255, 0.8);
    --secondary-font: rgba(255, 255, 255, 0.5);
    --brightness: 1;
    --contrast: 0;
    --background: white;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-font);
    transition: background-color 0.5s ease-in-out;
}

.map {
    width: 100%;
}

.toggle {
    width: 50px;
    position: fixed;
    border-radius: 50%;
    bottom: 15px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}

.search input, button{
    background-color: var(--tertiary-color);
    color: var(--primary-font);
    border: 1px solid rgba(0, 0, 0, 0.14);
    transition: background-color 0.3s ease-in-out;
}

input::placeholder{
    color: rgba(131, 131, 131, 1);
}

/* Weather card styles */
.card {
    display: none;
    position: relative;
    width: 100%;
    max-width: 440px;
    border: solid 1px var(--secondary-color);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: inset 0px -12px 50px -12px rgba(0,0,0,0.9);
}

.card:hover .back {
    z-index: 10;
}

/* Weather details styles */
.weather {
    position: relative;
    background-color: var(--tertiary-color);
    padding: 2rem 1.5rem;
    z-index: 5;
    box-shadow: inset 0px -12px 50px -12px rgba(0,0,0,0.16);
    transition: background-color 0.3s ease-in-out;
}

.back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1px;
    background: var(--tertiary-color);
    overflow: scroll;
    z-index: 0;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.back::-webkit-scrollbar {
    display: none;
}

.back h2 {
    padding: 1rem 1.5rem;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--tertiary-color);
    text-align: left;
    box-shadow: inset 0px 20px 50px -20px rgba(0,0,0,0.09);
    cursor: grab;
}

.back h2:hover {
    box-shadow: inset 0px 20px 50px 10px var(--secondary-color);
    color: var(--background);
}

.forecast {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: solid 1px var(--secondary-color);
    scroll-snap-align: end;
    cursor: default;
    padding: 0 1.5rem;
    transition: background-color 0.1s ease-out, color 0.1s;
}

.forecast:hover {
    background-color: var(--primary-font);
    color: var(--tertiary-color);
}

.fdate, .fdescription {
    justify-self: flex-start;
}

.ftemp, .fimg {
    justify-self: flex-end;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fav-weather {
    margin: 0.9rem 0.9rem;
    position: absolute;
    right: 0;
    width: 33px;
    cursor: pointer;
    z-index: 15;
    transition: opacity 200ms ease-in-out, transform 150ms ease-in-out;
}

.fav-weather[src="img/fav.svg"]{
    filter: contrast(var(--contrast));
}

.fav-weather:hover {
    opacity: 0.6;
    transform: scale(1.2);
}

.weather-icon {
    width: 170px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
}

.description {
    font-size: 1.1rem;
    padding: 0.7rem;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.card .col {
    font-size: 1.3rem; /* font size only for modal weather card */
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
}

.col img {
    width: 40px;
    margin-right: 10px;
    filter: brightness(var(--brightness));
}

/* Homeboard section styles */
.homeboard {
    perspective: 500px;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    gap: 4rem;
}

.homeboard > div {
    box-shadow: 0 5px 15px 0px var(--secondary-color)
}

.homeboard > div:nth-child(even) {
    /* Animation for even elements */
    animation: float 5s ease-in-out infinite;
}

.homeboard > div:nth-child(odd) {
    /* Animation for odd elements */
    animation: float 5s ease-in-out infinite 500ms;
}

.favorite-card {
    position: relative;
    width: 100%;
    border: solid 1px var(--secondary-color);
    border-radius: 20px;
    text-align: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.favorite-card::-webkit-scrollbar {
    display: none;
}

.favorite-card:hover .back{
    z-index: 10;
}
/* Modal overlay styles */
.modal-overlay {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 100; 
}

/* Modal background styles */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 99;
    display: none;
}

/* Keyframe animation for floating effect */
@keyframes float {
	0% {
		transform: translatey(0px); /*translateZ(0) rotateX(0deg) rotateY(0deg)*/
;
	}
	50% {
		box-shadow: 0 25px 25px 0px var(--secondary-color);
		transform: translatey(-8px); /*translateZ(0) rotateX(5deg) rotateY(0deg)*/
;
	}
	100% {
		transform: translatey(0px); /*translateZ(0) rotateX(0deg) rotateY(0deg)*/
;
	}
}

/* Responsive styles for small screens */
@media all and (max-width: 480px) {

.weather {
    padding: 2rem 1rem;
}

.card .col {
    font-size: 1.2rem;
}

.details {
    flex-wrap: wrap;
}

.homeboard {
    grid-template-columns: 1fr;
}
}

